* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 21px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 38px;
  align-items: center;
}

.banner {
  background-image: url(/images/Rectangle.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
}

.header-item {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.banner h1 {
  font-size: 55px;
  font-weight: 300;
  color: #e9e9e9;
}

.banner p {
  font-size: 22px;
  font-weight: 400;
  color: #e9e9e9;
  padding-top: 25px;
  padding-bottom: 29px;
}

.btn {
  color: #e9e9e9;
  width: fit-content;
  height: 48px;
  padding: 10px 30px 10px 40px;
  border-radius: 7px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  font-size: 18px;
  display: flex;
  border: none;
}

.btn-main {
  background: #28A745;

}

.btn i {
  margin-right: 6px;

}

.services-list {
  display: flex;
  padding: 40px 0 20px 0;
  align-items: center;
  gap: 70px;
}
@media screen and (max-width: 768px) {
  .services-list {
   display: block;
   gap: 0;
  }

  .services-item{
    padding-bottom: 35px;
  }
}
.services-item i {
  width: 67px;
  height: 67px;
  background: #28A745;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  
}

.services-item img {
  max-width: 100%;
  height: auto;
}

.services-item {
  text-align: center;
  color: #333333;
}

.services-title {
  font-size: 20px;
  padding: 15px 0;
}

.solutions {
  background: #28A745;
  display: flex;
  align-items: center;
}

.soliton-inner {
  width: 50%;
  height: auto;
}


@media screen and (max-width: 768px) {
  .solution-inner-text {
    padding: 25px 0;
  }
}

.soliton-inner img {
  height: 100%;
  display: flex;
  object-fit: cover;
}

.solution-inner-text {
  max-width: 680px;
  padding-left: 30px;
  color: #FFFFFF;

}

@media screen and (max-width: 768px) {
  .solutions {
    flex-direction: column;

  }

  .soliton-inner {
    width: 100%;
  }

  .soliton-inner img {
    width: 100%;
  }
}


.solution-inner-text h2 {
  font-weight: 300;
  font-size: 38px;
  color: #FFFFFF;
  padding-bottom: 26px;
}

.btn-second {
  margin: 0;
  box-shadow: inset 0 0 0 1px #fff;
  border: none;
}

.solution-inner-text p {
  padding-bottom: 17px;
}



.Business {
  text-align: center;
  padding: 50px 0;
}

.Business h2 {
  margin: 15px 0 30px 0;
  font-size: 38px;
}

.buisnnes-list li {
  width: calc(25% - 6px);

}

@media screen and (max-width: 768px) {
  .buisnnes-list li {
    width: calc(50% - 6px);
  }
}


.buisnnes-list img {
  width: 100%;
}

.buisnnes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 39px;
}

@media screen and (max-width: 768px) {
  .buisnnes-list {
    margin-top: 25px;
  }
}

.Blog {
  background-color: #0284D0;
  ;

}

.blog-inner {
  display: flex;
  align-items: center;

  height: auto;
  justify-content: space-between;
}

.blog-inner img {
  height: 100%;
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 518px;
}

@media screen and (max-width: 768px) {
  .blog-inner {
    flex-direction: column-reverse;
  }
}

.blog-inner-text {
  max-width: 680px;
  padding-left: 30px;
  color: #FFFFFF;


}

@media screen and (max-width: 768px) {
  .blog-inner-text {
    padding: 25px 0;
  }
}

.blog-image {
  width: 50%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .blog-image {
    width: 100%;
  }
}


.blog-inner-text h2 {
  font-weight: 300;
  font-size: 38px;
  color: #FFFFFF;
  padding-bottom: 26px;
}

.btn-second {
  margin: 0;
  box-shadow: inset 0 0 0 1px #fff;
  border: none;
}

.blog-inner-text p {
  padding-bottom: 17px;
}

.btn-second:hover {
  background: #FFFFFF;
  color: #333333;
  transition: 0.3s;
}

.Professional {
  text-align: center;
  margin-top: 49px;
  margin-bottom: 59px;
}

.Professional-title {
  padding-bottom: 16px;
}

.Professional h2 {
  padding-bottom: 22px;
}

.Professional-title2 {
  padding-bottom: 34px;
}

.Professional-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .Professional-list {
    flex-direction: column;
  }
}


.Professional h3 {
  padding-bottom: 13px;
}

.symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: .3s;
}




.Professional-image-container {
  position: relative;
}

.Professional-img {
  height: auto;
}

@media screen and (max-width: 768px) {
  .Professional-img {
    width: 600px;
  }
}

.Professional-image-container:hover .symbol {

  opacity: 1;
  visibility: visible;
}


.reg-img {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .reg-img {
    width: 100%;
  }
}

.Callback {
  margin-top: 60px;
  background: #F4F4F4;
}

.Callback-inner {
  display: flex;
  justify-content: space-between;
}

.Callback-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 30px;
  justify-content: center;
  background-color: #F4F4F4;
  padding: 25px ;
}

.Callback-form input {
  outline: none;
  padding: 5px;
  margin-bottom: 35px;
  width: 100%;
  border: none;
  font-weight: 400px;
  font-size: 18px;
  color: #333333;
}

.Callback-form h2 {
  font-weight: 300px;
  font-size: 38px;
  color: #333333;
  padding-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .Callback-inner {
    flex-direction: column;
  }
}

.btn-form {
  margin: 0;
  background: #28A745;
  width: 100%;

}

.copyright {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #333333;
  padding: 20px 0;
}

.copyright-inner {
  display: flex;
  height: 110px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  color: #FFFFFF;
  align-items: center;
}

.copyright-icons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.copyright-inner p {
  font-weight: 400px;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;

}

@media screen and (max-width: 768px) {
  .Callback-form {
    width: 100%;
  }
}